.boost {
    background: url("../images/bg-boost-mobile.svg") no-repeat;
    background-size: cover;
    background-color: var(--very-dark-blue);
    height: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.boost__title {
    font-size: 30px;
    font-weight: 700;
    color: white;
    align-self: end;
}

.boost__button {
    justify-self: center;
}

@media screen and (min-width: 1440px) {
    .boost {
        background: url("../images/bg-boost-desktop.svg") no-repeat;
        background-size: cover;
        background-color: var(--very-dark-blue);
        height: 250px;
    }

    .boost__title {
        font-size: 36px;
    }
}