.link {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    font-weight: 700;
}

.link--get-started {
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cyan);
    border-radius: 2em;
    height: 3em;
}

.button--get-started {
    width: 180px;
    text-align: center;
}

.button--shorten-form {
    border-radius: 0.5em;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    width: 90%;
    height: 3em;
    margin: 0 auto;
}

@media screen and (min-width: 1440px) {
    .link {
        background: var(--grayish-violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .link--white {
        background: white;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .button {
        width: 150px;
        margin: 0;
    }

    .button--shorten-form {
        width: 15%;
    }

    .button--get-started {
        width: 200px;
    }
}