.link {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    font-weight: 700;
}

.link--get-started {
    font-size: 20px;
}

.button {
    background: var(--cyan);
    padding: 0.8em;
    border-radius: 2em;
}

.button--get-started {
    margin: 0 auto;
    width: 180px;
    text-align: center;
}

.button--shorten-form {
    border-radius: 0.5em;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    width: 90%;
    height: 3em;
    margin: 0 auto;
}