.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1.5em 1em 1.5em;
}

.container {
    position: relative;
}

.container__checkbox {
    display: none;
}

.container__image-burger-menu {
    width: 64px;
    height: 64px;
    background-image: url("../images/burger-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.nav-list {
    display: none;
    background: var(--dark-violet);
    border-radius: 0.5em;
    position: absolute;
    top: 100%;
    right: 0;
    width: 76vw;
    padding: 2em 1em;
}

.container__checkbox:checked~.nav-list {
    display: block;
    text-align: center;
}

.nav-list__part-1 {
    border-bottom: 1px solid var(--grayish-violet);
}

.nav-list__item {
    padding: 1em;
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 0;
    }

    .header__image {
        margin-left: 10rem;
    }

    .container__label {
        display: none;
    }

    .nav-list,
    .nav-list__part-1,
    .nav-list__part-2 {
        border-bottom: 0;
        display: flex;
    }

    .nav-list {
        background: white;
        position: relative;
        justify-content: space-between;
    }

    .nav-list__part-2 {
        margin-right: 10rem;
    }
}